.blog_card {
    border-radius: 25px;
    background: #fbfcfc
}

.blog_card h4 {
    border-radius: 25px !important;
    margin-top: 0;
    color: #2471A3;
    background: #fbfcfc !important;
}

.sort {
    border-radius: 25px;
    background: #FDFEFE
}

.sort a {
    color: #154360;
    font-weight: bold;
}

.sort a:hover {
    color: #E74C3C;
    font-weight: bold;
}

.search_article{
    margin-top: 3.5px;
}

.search_article input{
    border-radius: 25px
}

