<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <style>
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold
        }
    </style>
    <!-- 文章详情 -->
    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <div class="col-9" style="min-height: 578px">
                <div class="row">
                    <h1 class="title col-10">{{ article.title }}</h1>
                    {#                    <a class="col-2 title" id="delete"#}
                    {#                       href="javascript:if(confirm('确实要删除该内容吗?'))location='{% url "article:article_delete" article.id %}'">#}
                    {#                        Delect#}
                    {#                    </a>#}
                    {% if user == article.author %}
                        <a class="modify" id="update" href="{% url "article:article_update" article.id %}">
                            Updata</a>
                        <span class="modify">|</span>
                        <a class="modify" id="delete" href="#" onclick="confirm_safe_delete()">
                            Delect
                        </a>
                    {% endif %}

                    <form id="safe_delete"
                          action="{% url 'article:article_safe_delete' article.id %}"
                          method="POST"
                          style="display:none;">
                        {% csrf_token %}
                        <button type="submit">submit</button>
                    </form>

                </div>
                <!-- 文章正文 -->
                <h6 class="author">作者：{{ article.author }}</h6>
                <div class="col-12">
                    <p>{{ article.body|safe }}</p>
                </div>
            </div>

            <div class="col-3 mt-4 ">
                <h4><strong>目录</strong></h4>
                <hr>
                <div>
                    {{ toc|safe }}
                </div>
            </div>
        </div>


        <div>
            <!-- 发表评论 -->
            <hr>
            {% if user.is_authenticated %}
                <div>
                    <form
                            action="{% url 'comment:post_comment' article.id %}"
                            method="POST"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="body">
                                <strong>
                                    我也要发言：
                                </strong>
                            </label>
                            <textarea
                                    type="text"
                                    class="form-control"
                                    id="body"
                                    name="body"
                                    rows="2"
                            style="width: 60%"></textarea>
                        </div>
                        <!-- 提交按钮 -->
                        <button type="submit" class="btn btn-primary ">发送</button>
                    </form>
                </div>
                <br>
            {% else %}
                <br>
                <h5 class="row justify-content-center">
                    请<a href="{% url 'userprofile:login' %}">登录</a>后回复
                </h5>
                <br>
            {% endif %}
        </div>

        <div >
            <!-- 显示评论 -->
            <h4>共有{{ comments.count }}条评论</h4>
            <div>
                {% for comment in comments %}
                    <hr>
                    <p>
                        <strong style="color: pink">
                            {{ comment.user }}
                        </strong> 于
                        <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 时说：
                                        {% if user == article.author %}
                        <a class="modify" id="update" href="{% url "article:article_update" article.id %}">
                            Updata</a>
                        <span class="modify">|</span>
                        <a class="modify" id="delete" href="#" onclick="confirm_safe_delete()">
                            Delect
                        </a>
                    {% endif %}
                    </p>
                    <pre style="font-family: inherit; font-size: 1em;">
{{ comment.body }}</pre>
                {% endfor %}
            </div>
        </div>
    </div>




    <script>
        function confirm_safe_delete() {
            layer.open({
                title: "确认删除",
                content: "确认删除这篇文章吗？",
                yes: function (index, layero) {
                    $('form#safe_delete button').click();
                    layer.close(index);
                }
            })
        }
    </script>
{% endblock content %}
{% block footer %}
    <script>document.getElementsByTagName('footer')[0].classList.remove("fixed-bottom");</script>
{% endblock footer %}