<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/article_list.css' %}">
{% endblock head %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <br>
    <!-- 定义放置文章标题的div容器 -->
    <div class="container">

        <div class="row">
            <nav aria-label="breadcrumb" class="col-2 ">
                <ol class="breadcrumb sort">
                    <li class="breadcrumb-item">
                        <a href="{% url 'article:article_list' %}">
                            最新
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'article:article_list' %}?order=total_views">
                            最热
                        </a>
                    </li>
                </ol>
            </nav>

            <!-- 新增，搜索栏 -->
            <div class="row search_article">
                <div class="col-auto">
                    <form class="form-inline">
                        <label class="sr-only">content</label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2 search_article"
                               name="search"
                               placeholder="Search the article..."
                               required
                        >
                    </form>
                </div>
            </div>
        </div>

        <!-- 新增，搜索提示语 -->
        {% if search %}
            {% if articles %}
                <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
                <hr>
            {% else %}
                <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
                <hr>
            {% endif %}
        {% endif %}

        <div class="row mt-2">
            {% for article in articles %}
                <!-- 文章内容 -->
                <div class="col-9 mb-4 ">
                    <!-- 卡片容器 -->
                    <a href="{% url 'article:article_detail' article.id %}">
                        <div class="blog_card">
                            <!-- 标题 -->
                            <h4 class="card-header border-bottom-0">{{ article.title }}
                                <span style="float: right;">
                                    <small class="col align-self-end" style="color: gray;font-size: small!important;">
                                        浏览: {{ article.total_views }}
                                    </small>
                            </span>
                            </h4>

                            <!-- 摘要 -->
                            <div class="card-body">
                                <p class="card-text">{{ article.body|slice:'100' }}...</p>

                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
        <div class="pagination row ">
            <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1&order={{ order }}&search={{ search }}" class="btn ">
                    &laquo; 首页
                </a>
                {#                <span>...</span>#}
                <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}"
                   class="btn "
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}"
                   class="btn"
                >
                    {{ articles.next_page_number }}
                </a>
                {#                <span>...</span>#}
                <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}"
                   class="btn"
                >
                    尾页 &raquo;
                </a>
            {% endif %}
        </span>
            </div>
        </div>
    </div>

{% endblock content %}
{% block footer %}
    {% if articles.len >= 4 %}
        <script>document.getElementsByTagName('footer')[0].classList.remove("fixed-bottom");</script>
    {% endif %}
{% endblock footer %}